* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {

    width: 100vw;

    height: 100vh;

    display: flex;

    flex-direction: column;

    /* margin-top: 100px;

margin-left: 100px; */

    background-color: #F47F65;

    justify-content: center;

    align-items: center;

}

.board {

width: 480px;

height: 480px;

display: flex;

flex-wrap: wrap;

background-color: aqua;

}

.path {

width: 48px;

height: 48px;

background-size: 48px;


}


.volume {

    width: 110px;
    
    height: 110px;
    
    position: absolute;
    
    top: 0;
    
    right: 0;
    
    }

    .volume:hover {

        filter: brightness(1.3);
    
        color: black;
    
        cursor: pointer;
    
    
    }

    .character {

width: 48px;

height: 48px;

    }
